<button style="margin-bottom: 8px" type="button" class="btn btn-primary" (click)="netWorthServiceCall()">Person</button>

<ng-container *ngIf="netWorthData.length != 0">
<table class="table" style="margin-bottom: 20px">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <!--
      <th scope="col">Institution</th>
      <th scope="col">Account Type</th>
      <th scope="col">Amount</th>
      -->
    </tr>
  </thead>
  <tbody>
    <!-- <td> dummydata </td> <td> dummydata </td> <td> dummydata </td> <td> dummydata </td> <td> dummydata </td> -->
    <tr>
        <th scope="row">{{netWorthData[0].id}}</th> <!-- ID -->
        <td>{{ netWorthData[0].userName }}</td> <!-- Name -->
      <!-- <td> dummydata </td> <td> dummydata </td> <td> dummydata </td> -->
       <!-- <td>{{ netWorthData[0]['cashAccounts'] ? netWorthData[0].cashAccounts.institution :''}}</td> --> <!-- Institution -->
       <!-- <td>{{ netWorthData[0]['cashAccounts'] ? netWorthData[0].cashAccounts.accountType : ''}}</td> --> <!-- Account Type -->
       <!-- <td>{{ netWorthData[0]['cashAccounts'] ? netWorthData[0].cashAccounts.amount : ''}}</td> --> <!-- Amount -->
    </tr>
  </tbody>
</table>

    <button style="margin-bottom: 8px" type="button" class="btn btn-primary" (click)="calculateTotalNetWorth()">Net worth?</button>
    <h3 class="total" style="margin-bottom: 20px">{{totalNetWorth | currency}}</h3>

    <div style="margin-bottom: 10px">
        <button (click)="showImg()" type="button" class="btn btn-outline-primary">View Chart</button>
    </div>
    <img style="margin-bottom: 20px" src="{{imgChart}}">
    <br>
    <div style="margin-bottom: 10px">
        <button (click)="showHarry()" type="button" class="btn btn-outline-primary">Comments</button>
    </div>
    <img src="{{imgHarry}}">
    <br>
    <h3>{{home}}</h3>

</ng-container>

