<p>net-worth works!</p>

<button (click)="netWorthServiceCall()">Get Net Worth</button>
<p>{{netWorthData ? netWorthData:netWorthData}}</p>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Institution</th>
      <th scope="col">Account Type</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Harry Kane</td>
      <td>Wells Fargo</td>
      <td>Chequing</td>
      <td>15000</td>
    </tr>
  </tbody>
</table>