<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-default color navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">
        </a>
<!--        <span class="navbar-brand">Angular + Bootstrap</span>-->
<!--        <span> <a routerLink="/cash-account">Cash Accounts</a></span>-->
      </div>
    </div>
  </nav>

  <div class="jumbotron">
    <h1 class="text-white normal_font">Citi Portfolio Manager</h1>
    <p class="lead">
    </p>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h3>Net Worth</h3>
      </div>
      <div class="col">
        <h3>Investment Breakdown</h3>
      </div>
      <div class="col">
        <h3>Cash Accounts</h3>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>





</body>
</html>