<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-default color navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">
        </a>

        <span class="navbar-brand">Angular + Bootstrap</span>
        <span> <a routerLink="/cash-account)">Cash Accounts</a></span> |
        <span> <a routerLink="/investment">Investments</a></span>

      </div>
    </div>
  </nav>

  <div class="jumbotron">
    <h1 class="text-white normal_font">Citi Financial Portfolio Manager</h1>
    <p class="lead">
    </p>
    <router-outlet></router-outlet>
  </div>

  <div class = "container">
    <div class="card-deck">
      <div class="row">
        <div class="card card_first_colour">
          <div class="card-body">
            <h4 class="card-title">Market Movers</h4>
            <p class="card-text win_colour">Citi</p>
          </div>
        </div>
        <div class="card card_second_colour">
          <div class="card-body">
            <h4 class="card-title">Top Gainer</h4>
            <p class="card-text">Some example text. Some example text.</p>
          </div>
        </div>
        <div class="card card_second_colour">
          <div class="card-body">
            <h4 class="card-title">Top Loser</h4>
            <p class="card-text">Some example text. Some example text.</p>
          </div>
        </div>
        <div class="card card_first_colour">
          <div class="card-body">
            <h4 class="card-title">Insights</h4>
            <p class="card-text">Some example text. Some example text.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container2-fluid">
    <div class="row">
      <div class="col">
        <h3>Net Worth</h3>
        <router-outlet></router-outlet>
        <!-- <router-outlet name="net-worth"></router-outlet> -->
      </div>
      <div class="col">
        <h3>Investment Breakdown</h3>
        <router-outlet name="investment"></router-outlet>
      </div>
      <div class="col">
        <h3>Cash Accounts</h3>
        <!-- <router-outlet name="cash-account"></router-outlet> -->
        <!-- <router-outlet></router-outlet> -->
      </div>
    </div>
  </div>






</body>
</html>