<section>
    <div class="card investment-card">
        <div class="card-body">
            <div class="grid-container">
                <form>
                    <div class="form-group">
                        <label for="formSelect">Select Investment</label>
                        <select [(ngModel)]="paramObj.category" name="category"  class="form-control" id="formSelect">
                            <option value="">Select</option>
                            <option value="stock">Stocks</option>
                            <option value="bond">Bonds</option>
                            <option value="future">Futures</option>
                            <option value="etf">ETFs</option>
                        </select>
                    </div>
                </form>
                <button (click)="makeServiceCall()" type="button" class="btn btn-outline-primary">Go</button>
            </div>
            <span style="margin-top: 30px;"><h5 class = 'issuer investment-breakdown-grid'><span>Issuer</span> <span class="amt">Purchase Amount</span></h5></span>
            <div *ngFor="let data of reportData">
                <h5>
                    <span *ngIf="paramObj.category === 'stock'" class="investment-breakdown-grid"><span>{{data.ticker}}</span> <span>{{data.closingPrice | currency}}</span></span>
                    <span *ngIf="paramObj.category === 'bond'" class="investment-breakdown-grid"><span>{{data.issuer}}</span> <span>{{data.coupon | currency}}</span></span>
                    <span *ngIf="paramObj.category === 'etf'" class="investment-breakdown-grid"><span>{{data.symbol}}</span> <span>{{data.ytdReturn | currency}}</span></span>
                    <span *ngIf="paramObj.category === 'future'" class="investment-breakdown-grid"><span>{{data.issuer}}</span> <span>{{data.contractValue | currency}}</span></span>
                </h5>
            </div>
            <button style="margin-top: 20px; margin-bottom: 8px" (click)="addInvestments()" type="button" class="btn btn-outline-primary">Cumulative Amount</button>
            <h3 class="total">{{total | currency}}</h3>
        </div>
    </div>
</section>



